@media only screen and (max-width: 992px) {
  
  h1 {
    font-size: 150%; }

  h2 {
    font-size: 150%; }

  h5 {
    font-size: 80%; }

  .euro-big-logo {
    position: absolute;
    opacity: 0.5;
    width: 95%; }

  .info {
    display: block !important; }

  .info-lg {
    display: none; }

  .carousel-indicators {
    left: 45% !important;
    top: 100% !important;
    display: flex !important; }

  .fon-img1 {
    left: 60% !important; }

  .xzmat-img {
    transition: 0.5s;
    box-shadow: 2px 2px 5px #d0d0d0;
    width: 150px !important;
    height: 150px !important; }

  .xzmat-img:hover {
    transition: 0.5s;
    transform: scale(1.1) !important;
    box-shadow: 5px 5px 6px #d0d0d0; }

  .offset-lg-2 {
    margin-left: 3% !important; }

  .fon-img3 {
    top: 5% !important;
    left: 70% !important;
    width: 30% !important; }

  .fon-img4 {
    width: 40% !important;
    top: 40% !important;
    left: 60% !important; }

  .menu1 {
    margin-left: 10% !important; }

  .hover-navlink1 {
    border-bottom: 2px solid white !important; } }

@keyframes brand1 {
  0% {
    opacity: 0.3;
    transform: scale(0.8); }
  20% {
    opacity: 0.3;
    transform: scale(0.8); }
  25% {
    opacity: 0.3;
    transform: scale(0.8) translateX(260%); }
  55% {
    opacity: 0.3;
    transform: scale(0.8) translateX(260%); }
  60% {
    opacity: 1;
    transform: scale(1) translateX(100%); }
  85% {
    opacity: 1;
    transform: scale(1) translateX(100%); }
  90% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); }
  100% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); } }
@keyframes brand2 {
  0% {
    opacity: 1;
    transform: scale(1) translateX(0); }
  20% {
    opacity: 1;
    transform: scale(1) translateX(0); }
  25% {
    opacity: 0.3;
    transform: scale(0.8) translateX(-150%); }
  55% {
    opacity: 0.3;
    transform: scale(0.8) translateX(-150%); }
  60% {
    opacity: 0.3;
    transform: scale(0.8) translateX(140%); }
  85% {
    opacity: 0.3;
    transform: scale(0.8) translateX(140%); }
  90% {
    opacity: 1;
    transform: scale(1) translateX(0); }
  100% {
    opacity: 1;
    transform: scale(1) translateX(0); } }
@keyframes brand3 {
  0% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); }
  20% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); }
  25% {
    opacity: 1;
    transform: scale(1) translateX(-120%); }
  55% {
    opacity: 1;
    transform: scale(1) translateX(-120%); }
  60% {
    opacity: 0.3;
    transform: scale(0.8) translateX(-300%); }
  85% {
    opacity: 0.3;
    transform: scale(0.8) translateX(-300%); }
  90% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); }
  100% {
    opacity: 0.3;
    transform: scale(0.8) translateX(0); } }
body header .container nav .navbar .fon-img {
  width: 50%;
  left: 54%;
  top: -40%; }
body header .container nav .navbar .menu {
  transform: translateZ(1px); }
body header .container nav .navbar .menu1 {
  margin-left: 30%; }
body header .container nav .navbar .menu2 {
  margin-left: 25%; }
body header .container nav .navbar .europrint-logo a img {
  width: 113px;
  height: 45px; }
body header .hover-navlink {
  transition: 0.5s;
  border-bottom: 2px solid rgba(255, 255, 255, 0); }
  body header .hover-navlink:hover {
    transition: 0.5s;
    border-bottom: 2px solid #ed6819; }
body header .hover-navlink1 {
  transition: 0.5s;
  border-bottom: 2px solid rgba(236, 238, 240, 0); }
  body header .hover-navlink1:hover {
    transition: 0.5s;
    border-bottom: 2px solid #ed6819; }
body main .zakaz {
  background-color: #ed6819; }
body main .carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 30%;
  left: 100%;
  top: 50%;
  z-index: 15;
  display: grid;
  justify-content: normal;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
  list-style: none; }
body main .carousel-indicators li {
  background-color: black;
  border-radius: 50%;
  width: 10px;
  height: 10px; }
body main .class {
  width: 10px;
  height: 15px;
  background-color: #ed6819;
  border-top-right-radius: 80%; }
body main .section3 {
  background-color: #fffdf6; }
  body main .section3 .container .row .col-lg-6 .p-lg-4 p {
    font-size: 150%; }
  body main .section3 .container .row .info {
    display: none; }
body main .info {
  display: none; }
body main .info-box {
  overflow: hidden;
  display: inline-flex; }
  body main .info-box:hover .info-box-img {
    transform: scale(1.3); }
  body main .info-box:hover .info-box-hover {
    opacity: 1; }
body main .info-box-img {
  transition: 0.5s ease; }
body main .info-box-hover {
  background-color: rgba(0, 0, 0, 0.61);
  opacity: 0;
  transition: 0.5s ease; }
body main .fon-img1 {
  width: 35%;
  top: -1%;
  left: 75%; }
body main .fon-img2 {
  top: 60%;
  right: 80%; }
body main .xzmat-img {
  transition: 0.5s;
  box-shadow: 2px 2px 5px #d0d0d0;
  width: 170px;
  height: 180px; }
  body main .xzmat-img:hover {
    transition: 0.5s;
    transform: scale(1.2);
    box-shadow: 10px 10px 10px #d0d0d0; }
body main .fon-img3 {
  top: -1%;
  left: 80%;
  width: 25%; }
body main .fon-img4 {
  width: 30%;
  top: -45%;
  left: 75%; }
body main .box-shadow {
  box-shadow: 0px 10px 20px #e9e9e9; }
body main .card-animate1 {
  animation: brand1 10s infinite;
  animation-timing-function: linear; }
body main .card-animate2 {
  animation: brand2 10s infinite;
  animation-timing-function: linear; }
body main .card-animate3 {
  animation: brand3 10s infinite;
  animation-timing-function: linear; }
body main .user-info {
  box-shadow: 5px 5px 5px #eeeeee;
  transition: 0.5s; }
  body main .user-info:hover {
    transition: 0.5s;
    transform: scale(1.05);
    box-shadow: 10px 10px 10px #eeeeee; }
body main .user {
  width: 180px !important;
  top: -35%;
  left: 25%; }
body main .card-bg {
  height: 250px;
  background-color: #fffdf6; }
body main .card-bg .mt-5 p {
  color: #ed6819; }
body footer {
  background-color: #fffdf6; }
